<header>
    <h1>Server Express</h1>
    <nav>
        <a href="/">Acceuil</a>
        <a href="/orders">Commandes</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
    </nav>
</header>