<main>
    <h2>Je suis le h2 de <span id="txtCrimson">CONTACT</span>.</h2>
    <p id="formInfo"><%= formInfo %> (je suis la data)</p>

    <form action="">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">

        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>

        <button type="submit">Send</button>
    </form>
</main>