<main>
    <h2>Je suis le h2 du <span id="txtCrimson">HOME</span>.</h2>
    <p>Bienvenue sur le site ! (je suis un p)</p>
    
    <section>
        <% for( const data of datas ) { %>
            <h3><%=data.productLine%></h3>
        <% } %>
    </section>

</main>