<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Server Express</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- INCLUDE permets d'inclure un fichier EJS à cet empolacement, URL qui est relatif ou on se trouve,
        je suis dans layout.ejs, je souhaite injecter le fichier header.
        /!\ Attention à la syntaxe EJS ici c'est un tiret du 6 /!\ -->
        <%- include("./partials/header") %>
        <!--  Ici on injecte la valeur de la variable transmise par l'objet render -->
        <%- include(template) %>
        <%- include("./partials/footer") %>
    </body>
</html>